#header{
	text-align:center;
	padding-top:150px;
	padding-bottom: 150px;
	background: url("http://lorempixel.com/1300/600/abstract");
}

#header h1{
	font-family: 'Indie flower', cursive;
	color:white;
}
p{
	font-size: 17
	font-family: 'Open sans', sans-serif;

}
#date{
	text-align: center;
	color:white;
	font-family: 'Roboto';
	
}

body	{
	font-family: 'Open sans', sans-serif;
}

.menu {
	font-weight: 300;
	padding:40px
}

.menu img{
	padding:20px;
	border: 2px solid black;
	border-radius: 50%;
}

.menu p {}

#footer{
	padding:30px;
	background: rgb(30,30,30);
	color: lightgrey;
}

#copyright{
	text-align: right;
}