#header{
	background-color: #3F51B5;
}

#header h1{
	font-family: 'Indie flower', cursive;
	text-align: center;
	color:white;
	font-size: 400;
}
p{
	font-size: 17
	font-family: 'Open sans', sans-serif;

}
#date{
	text-align: center;
	font-family: 'Roboto';
	
}

body	{
	font-family: 'Open sans', sans-serif;
}

